body, html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  color: #535455;
}

a {

  font: outline;
  font-style: italic;
}
/*
.root {
  height: 100%;
}*/
.height100 {
  height: 100%;
}

.home {
  background-color: #1976d2;
  text-align: center;
}

.home.bg {
  /* The image used */
  /*background-image: url("/img/home-background-image.jpg");*/
  background-image: url("/img/homeback1transp.jpg");
  /* background-repeat: round;*/
  /*background-position-x: 30%;*/
  /* background-position-y: bottom;*/

  /* Full height */
  /*height: 450px;*/
  /*width: 100%;*/

  /* Center and scale the image nicely */
  /*background-position: center;
  background-size: cover;*/
}

.homeicons {
  color:white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
}

.homefooter {
  color:white;
  background-color: #32AD68;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: right;
}

.searchinput {
  width:300px;
}

.verticalcenter {
  margin: 0;
  top: 50%;
}
.margins {
  width: 95%;
  margin-left: 20px;
  margin-right: 20px;
}
.mapStyles {
    overflow: 'hidden';
    height: 400px;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 1px;
  width: 100%;
  
}

.home .flex-container {
  display: flex;
  justify-content: center;
  padding: 1px;
  width: 100%;
  color:#016297;
  font-size: 60px;
  line-height: 44px;
  max-width: none;
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
  padding-top: 50px;
  padding-bottom: 15px;
}

.blueType {
  color:rgb(187, 55, 55);
  font-size: 70px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.flex-container.left {
  justify-content: left;
}

.flex-container > div {
  margin: 20px;
  width: 100%;
}

.mylogo {
  width: 70px;
  height: 70px;
  position: absolute;
}

.imguser {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.imgusercard {
  border-radius: 60%;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 100;
  margin-top: -40px;
}

.imgusercardback {
  background-image: url("/img/usercardback5.jpg");
  width: 100%;
  height: 150px;
}

.imgcardback {
  background-image: url("/img/usercardback3.jpg");
  width: 300px;
  height: 250px;
}

.imgtravelcard {
  height: 100px;
}

.mynav.profile {
  vertical-align: middle;
  padding: 5px;
  padding-right: 15px;
  height: 56px;
  /*line-height: 45px;*/
}
.mynav.back {
  background-color: #1976d2;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mybuttonnav.back {
   color: #1976d2;
   background-color: white;
   border-radius: 10px;
   width: 150px;
}

.bigtext {
  font-size: 20px;
  font-weight: bold;
}

.mybutton.back {
  background-color: #9fa8a3 !important;
}

.travelicon {
  margin-left: 3px;
  background-color: #9fa8a3 !important;
  color: white
}

.travelicon:hover {
  background-color: #9fa888 !important;
  color: white;
  cursor: pointer;
}
.traveliconblue {
  color: #1976d2;
}

.cardlink {
   color: #1976d2;
   background-color: white;
   padding: 10px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

.cardheight {
  min-height: 370px;
  height: 370px;
  max-height: 370px;
}

.modalbox {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: grey;
    border-style: solid;
}