body, html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/img/viajes.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.verticalcenter {
  margin: 0;
  top: 50%;
}

.mapStyles {
    max-width: '300px';
    max-height: '300px';
    overflow: 'hidden'
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 1px;
  width: 100%;
  
}

.flex-container.left {
  justify-content: left;
}

.flex-container > div {
  margin: 20px;
  width: 100%;
}

.mylogo {
  width: 70px;
  height: 70px;
  position: absolute;
}

.imguser {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.imgusercard {
  border-radius: 60%;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 100;
  margin-top: -40px;
}

.imgusercardback {
  background-image: url("/img/usercardback4.jpg");
  width: 100%;
  height: 150px;
}

.imgcardback {
  background-image: url("/img/usercardback3.jpg");
  width: 300px;
  height: 250px;
}

.imgtravelcard {
  height: 100px;
}

.mynav.profile {
  vertical-align: middle;
  padding: 5px;
  padding-right: 15px;
  height: 56px;
  line-height: 45px;
}
.mynav.back {
  background-color: #9fa8a3 !important;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mybuttonnav.back {
  background-color: #e3e0cf !important;
}

.mybutton.back {
  background-color: #9fa8a3 !important;
}