body, html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/img/viajes.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  
}

.flex-container > div {
  margin: 20px;
}

.imguser {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
}

.mynav.back {
  background-color: #9fa8a3 !important;
}

.mybuttonnav.back {
  background-color: #e3e0cf !important;
}

.mybutton.back {
  background-color: #c5d5cb !important;
}